body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search {
    margin-top: 1.5em;
    margin-left: 85%;
}

.search-bar-row {
    padding-top: 24vh;
}
.home-page-button{
    padding-top:3vh;
}

.search-bar {
    margin-top: 0;
    margin-bottom: 0;
}